apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: movieapp
  labels:
    app: frontend
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 31377      # Exposed port on Minikube/EC2 node
    protocol: TCP
    name: http
  selector:
    app: frontend

